version: 2.1

parameters:
  docker-img:
    type: 'string'
    default: ''

commands:
  timeout:
    parameters:
      duration:
        default: '30m'
        type: 'string'
    steps:
      - run:
          name: Cancel job after <<parameters.duration>>
          background: true
          command: |
            sleep <<parameters.duration>>
            echo "Cancelling job as <<parameters.duration>> has elapsed"
            curl --fail -X POST -H "Circle-Token: ${CIRCLE_TOKEN}" "https://circleci.com/api/v1.1/project/github/${CIRCLE_PROJECT_USERNAME}/${CIRCLE_PROJECT_REPONAME}/${CIRCLE_BUILD_NUM}/cancel"
  start-db:
    parameters:
      docker-img:
        type: 'string'
        default: 'docker.io/arangodb/enterprise:latest'
      topology:
        type: 'string'
        default: 'single'
      ssl:
        type: 'string'
        default: 'false'
    steps:
      - run:
          name: Start Database
          command: ./docker/start_db.sh
          environment:
            DOCKER_IMAGE: <<parameters.docker-img>>
            STARTER_MODE: <<parameters.topology>>
            STARTER_DOCKER_IMAGE: 'docker.io/arangodb/arangodb-starter:0.18.5'
            SSL: <<parameters.ssl>>
  load_cache:
    steps:
      - run:
          name: Generate Cache Checksum
          command: find . -name 'pom.xml' | sort | xargs cat > /tmp/maven_cache_seed
      - restore_cache:
          key: maven-{{ .Environment.CIRCLE_JOB }}-{{ checksum "/tmp/maven_cache_seed" }}
  store_cache:
    steps:
      - save_cache:
          key: maven-{{ .Environment.CIRCLE_JOB }}-{{ checksum "/tmp/maven_cache_seed" }}
          paths:
            - ~/.m2/repository
  config_gpg:
    steps:
      - run:
          name: Configure GPG
          command: echo $GPG_PRIVATE_KEY | base64 --decode | gpg --batch --no-tty --import --yes
  deploy:
    steps:
      - run:
          name: Deploy to Apache Maven Central
          command: mvn -s .circleci/maven-release-settings.xml -Prelease -Dmaven.test.skip deploy
  install:
    steps:
      - run:
          name: mvn install
          command: mvn install -DskipTests

executors:
  j8:
    docker:
      - image: 'cimg/openjdk:8.0'
  j21:
    docker:
      - image: 'cimg/openjdk:21.0'

jobs:

  test:
    parameters:
      docker-img:
        type: 'string'
        default: 'docker.io/arangodb/enterprise:latest'
      topology:
        type: 'string'
        default: 'single'
      ssl:
        type: 'string'
        default: 'false'
      jdk:
        type: 'string'
        default: 'j21'
      graphType:
        type: 'string'
        default: 'simple'
      args:
        type: 'string'
        default: ''
    executor: <<parameters.jdk>>
    resource_class: 'medium'
    steps:
      - timeout
      - checkout
      - setup_remote_docker
      - start-db:
          docker-img: <<parameters.docker-img>>
          topology: <<parameters.topology>>
          ssl: <<parameters.ssl>>
      - load_cache
      - run:
          name: mvn dependency:tree
          command: mvn dependency:tree
      - run:
          name: Test
          command: mvn test -Dtest.graph.type=<<parameters.graphType>> <<parameters.args>>
      - store_cache
      - store_artifacts:
          path: target/allure-results

  sonar:
    executor: 'j21'
    steps:
      - timeout
      - checkout
      - setup_remote_docker
      - start-db
      - load_cache
      - restore_cache:
          name: Restore Sonar cache
          key: sonar-{{ .Environment.CIRCLE_JOB }}-{{ checksum "/tmp/maven_cache_seed" }}
      - run:
          name: Analyze
          command: mvn verify -Dtest.graph.type=simple org.sonarsource.scanner.maven:sonar-maven-plugin:sonar -Dsonar.projectKey=arangodb_arangodb-tinkerpop-provider -Pstatic-code-analysis
      - save_cache:
          name: Save Sonar cache
          key: sonar-{{ .Environment.CIRCLE_JOB }}-{{ checksum "/tmp/maven_cache_seed" }}
          paths:
            - ~/.sonar/cache
      - store_cache

  test-demo:
    executor: 'j21'
    steps:
      - timeout
      - checkout
      - setup_remote_docker
      - start-db
      - load_cache
      - install
      - run:
          name: Run demo
          command: mvn compile exec:java -Dexec.mainClass="org.example.Main"
          working_directory: demo
      - store_cache

  test-console:
    executor: 'j21'
    steps:
      - timeout
      - checkout
      - setup_remote_docker
      - start-db
      - load_cache
      - install
      - store_cache
      - run:
          name: Test Gremlin Console
          command: ./test-console/test.sh

  test-plugin:
    executor: 'j21'
    steps:
      - timeout
      - checkout
      - setup_remote_docker
      - start-db
      - load_cache
      - install
      - store_cache
      - run:
          name: Test Gremlin Server Plugin
          command: ./test-plugin/test.sh

  deploy:
    executor: 'j21'
    steps:
      - timeout
      - checkout
      - load_cache
      - config_gpg
      - deploy
      - store_cache

workflows:
  test-adb-version:
    when:
      not: <<pipeline.parameters.docker-img>>
    jobs:
      - test:
          name: test-adb-single-<<matrix.docker-img>>-<<matrix.graphType>>
          matrix:
            parameters:
              docker-img:
                - 'docker.io/arangodb/enterprise:3.12'
              topology:
                - 'single'
              graphType:
                - 'simple'
                - 'complex'
      - test:
          name: test-adb-cluster-<<matrix.docker-img>>-<<matrix.graphType>>
          matrix:
            parameters:
              docker-img:
                - 'docker.io/arangodb/enterprise:3.12'
              topology:
                - 'cluster'
              graphType:
                - 'simple'
                - 'complex'
              args:
                - '-Dtest.skipProcessStandardSuite'
      - test:
          name: test-ssl
          matrix:
            parameters:
              ssl:
                - 'true'
              graphType:
                - 'ssl'
              args:
                - '-Dtest.ssl'

  sonar:
    when:
      not: <<pipeline.parameters.docker-img>>
    jobs:
      - sonar:
          name: sonar

  test-adb-topology:
    when: <<pipeline.parameters.docker-img>>
    jobs:
      - test:
          name: test-single
          matrix:
            parameters:
              docker-img:
                - <<pipeline.parameters.docker-img>>
              topology:
                - 'single'
      - test:
          name: test-cluster
          matrix:
            parameters:
              docker-img:
                - <<pipeline.parameters.docker-img>>
              topology:
                - 'cluster'
              args:
                - '-Dtest.skipProcessStandardSuite'

  test-jdk:
    when:
      not: <<pipeline.parameters.docker-img>>
    jobs:
      - test:
          name: test-jdk=<<matrix.jdk>>-<<matrix.graphType>>
          matrix:
            parameters:
              graphType:
                - 'simple'
                - 'complex'
              jdk:
                - 'j8'
                - 'j21'
          filters:
            tags:
              only: /^v.*/
            branches:
              only:
                - main

  test-console:
    when:
      not: <<pipeline.parameters.docker-img>>
    jobs:
      - test-console

  test-plugin:
    when:
      not: <<pipeline.parameters.docker-img>>
    jobs:
      - test-plugin

  test-demo:
    when:
      not: <<pipeline.parameters.docker-img>>
    jobs:
      - test-demo

  deploy:
    jobs:
      - deploy:
          context: java-release
          filters:
            tags:
              only: /^deploy.*/
            branches:
              ignore: /.*/
